[submodule "SimplerEnv"]
	path = SimplerEnv
	url = https://github.com/simpler-env/SimplerEnv
[submodule "sglang-vla"]
	path = sglang-vla
	url = https://github.com/harine/sglang-vla.git
	branch = main-harine
[submodule "openvla-mini"]
	path = openvla-mini
	url = https://github.com/harine/openvla-mini.git
	branch = main-harine
[submodule "diffusion_policy"]
	path = diffusion_policy
	url = git@github.com:sriyash421/diffusion_policy.git
	branch = harine/inprocess_verifiers
